.projectContainer {
    background-color: rgb(229, 228, 226);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.header {
    color:white;

}

.projectCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: max-content;
}

.projectCards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    background-color: #333;
    margin: 3vw;
    color:white;
}
.projectCards img {
    width: 50vw;
    height:auto;
    margin: 0;
    align-self: flex-start;
}

.projectCards h3 {
    padding-top: 10px;
    margin: 0;
    font-size: 20px;
    text-align: center;
}

.projectCards h3 a {
    color:white;
    text-decoration: none;
}

.projectInfo {
    font-size: 1.2vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height:80%;
    padding: 10px;
}

.title {
    font-size: 4vw;
    font-family: 'Source Serif Pro', serif;
    -webkit-text-stroke: 0.5px black;
}

@media screen and (max-width:500px) {
    .title{
        font-size:10vw;
        margin: 30px 0;
    }
    .projectCards{
        display: flex;
        flex-direction: column;
    margin-bottom: 20px;
    width:90vw;
    }
    .projectCards img{
        width:100%;
    }
    .projectCards h3 {
        margin: 0;
        font-size: 3vw;
        text-align: center;
        
    }
    .projectCards h3 a{
        padding:10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    .projectInfo{
        font-size:2vw;
        height:fit-content;
    }
}