.title {
    font-size: 4vw;
    color:white;
    font-family: 'Source Serif Pro', serif;
    -webkit-text-stroke: 0.5px black;
    padding: 56px 0 48px 0;
}

.projectContainer {
    width:100vw;
    background-color: rgb(229, 228, 226);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.projectCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 60vh;
    border:2px solid black;
    width:100%;
    padding: 64px 0;
    position: relative;
}
.projectCard{
    width:30vw;
    height:45vh;
    position: absolute;
    /* background: url('../public/Crime_Awareness_Bot.png');
    background-size: cover;
    background-repeat: no-repeat; */
}
.projectCard h3{
    width:100%;
    text-align: center;
    margin-top:20px;   
    opacity: 0;
    transition: all 1s ease-in; 
}
.projectCard a{
    color:blue;
    text-decoration: none;
    width:100%;
    margin-top:20px;
    font-size: 24px;
    position: relative;
}
.projectCard p{
    margin:0 10px;
    margin-top:40px;
    text-align: center;
    font-size:1.5vw;
    position: relative;
    display: none;
}
.imageofCard{
    width:100%;
    height:100%;
    position:absolute;
    z-index: 0;
    filter:blur(0);
}
@keyframes textFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes imgFadeOut {
    from{
        filter:blur(0);
    }
    to{
        filter:blur(15px);
    }
}


.projectCard:hover  img{
    animation-name: imgFadeOut;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.projectCard:hover h3{
    opacity: 1;
   
} 

@media screen and (max-width:500px) {
    .title{
        font-size:10vw;
        margin: 30px 0;
    }
    .projectCards{
        display: flex;
        flex-direction: column;
    margin-bottom: 20px;
    width:90vw;
    }
    .projectCards img{
        width:100%;
    }
    .projectCards h3 {
        margin: 0;
        font-size: 3vw;
        text-align: center;
        
    }
    .projectCards h3 a{
        padding:10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    .projectInfo{
        font-size:2vw;
        height:fit-content;
        display: none;
    }
}