.homeContainer{
    padding: 0;
    background-color:#673147ed;
    height:100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.someInfoContainer{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height:100%;
    padding: 0 2vw;
}

.Name{
    font-size:6vw;
    border:8px solid rgba(255, 255, 255, 0);
    font-family: 'Source Serif Pro', serif;
    margin:4vh 0;
  
  text-align: center;
  padding:10px;
}
.someInfo{
  color:black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: row;
  font-size: 3vw;
  padding:20px 0;
  justify-content: flex-start;
}

.otherInfo{
    font-size: 2vw;

}
.pfp{
    width: 34vw;
    border-radius: 50%;
    border:2px solid black;
    margin-right: 4vw;
  
}